@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 2px;
    /* Set the width of the scrollbar */
}

/* Track styles */
::-webkit-scrollbar-track {
    background: rgb(254, 253, 253);
    /* Set the background color of the track */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
    background: red;
    /* Set the background color of the handle */
    border-radius: 5px;
    /* Set the border radius of the handle */
}

.smooth-scroll {
    scroll-behavior: smooth;
}